:root {
  --color-blue: #016dad;
  --color-orange: #ff7a59;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Andada Pro", serif !important;
}

p{
  line-height: 1.4;
  font-size: 17px;
}

button {
  outline: 0 !important;
  border: none;
  cursor: pointer;
}

.title {
  position: relative;
  color: var(--color-blue);
  font-size: 2.2em;
  text-align: center;
  font-family: "Jost", serif;
  font-weight: 700;
  padding: 0 20px;
  z-index: 1;
}

.hero-about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 380px;
  background-image: url("../assets/images/about-us.jpg");
  background-size: cover;
  background-position: top;
}

.hero-about::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.61);
  width: 100%;
  height: 100%;
}

.hero-about h1 {
  font-size: 3em;
  z-index: 1;
  font-family: "Jost", serif;
  color: var(--color-blue);
}

.hero-about div {
  z-index: 1;
}

.breadcrumb {
  font-size: 1em;
  border-radius: 40px;
  box-shadow: 0px 1px 6px 2px #85858573;
}

.breadcrumb-item a {
  font-weight: 700;
  transition: all 0.3s ease;
}

#more {
  display: none;
}

/*Content*/
.about-us {
  padding: 35px 0;
  overflow: hidden;
}

.about-us .content {
  overflow: hidden;
  padding-bottom: 5px;
}

.about-us .content h2 {
  text-align: center;
  font-size: 2.2em;
  z-index: 1;
  font-family: "Jost", serif;
  color: var(--color-blue);
}

.about-us .content p,
.text-card {
  margin: 30px 0;
  color: rgba(0, 0, 0, 0.52);
}

.securities ul li {
  color: rgba(0, 0, 0, 0.52);
  font-size: 0.89em;
}

.about-us .content .container-images {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 260px;
}

.about-us .content .container-images .img {
  display: flex;
  border: 5px solid #fff;
  box-shadow: -5px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: max-content;
}

.about-us .content .container-images .img,
.about-us .content img {
  margin: 20px 0;
  width: 200px;
  height: 270px;
  object-fit: cover;
  max-width: 500px;
  border-radius: 0px 100px 0px 0px;
}

.securities {
  background: rgba(24, 204, 231, 0.16);
  padding: 35px 0;
  overflow: hidden;
}

.securities .card {
  border-radius: 15px;
}

.button-link {
  position: relative;
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  height: 46px;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: var(--color-orange);
  color: white;
  width: 65%;
  min-width: 195px;
  max-width: 277px;
  font-size: 1.5em;
  text-decoration: none;
  font-weight: 300;
  max-width: 250px;
  transition: background 0.3s ease;
}

.button-link::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: 0;
  bottom: 0;
  width: 105%;
  height: 120%;
  border-radius: 60px;
  border: 1px solid var(--color-orange);
  background: rgba(196, 196, 196, 0);
}

.button-link:hover {
  color: white;
  text-decoration: none;
  background: #cf4c2b;
}

.securities .card .card-title {
  font-size: 1.3em;
  color: var(--color-blue);
  font-family: "jost", serif;
  font-weight: 600;
}

.securities .card .icon {
  margin: 10px auto;
  display: flex;
  background-color: var(--color-blue);
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

.securities .card .icon img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.securities ul {
  width: max-content;
  margin: 0 auto;
  list-style: disc;
  padding-left: 20px;
}

.securities ul li {
  position: relative;
}

.securities ul li:after {
  content: "";
  position: absolute;
  top: 7px;
  left: -18px;
  width: 10px;
  height: 10px;
  border-radius: 11px;
  background: #004066;
}
.customers-content h3 {
  font-size: 1.4em;
  color: var(--color-blue);
  font-weight: 700;
}

.customers-reviews .card-title {
  font-size: 1.3em;
  font-weight: 700;
  color: var(--color-blue);
}

.fa-star {
  color: #f3ad56;
}

.container-reviews {
  padding: 35px 0;
}

.container-reviews .subtitle {
  color: var(--color-blue);
  text-align: center;
  font-size: 1.2em;
  margin: 20px auto;
}

.about-us .obj-dec:first-of-type {
  top: -130px;
  transform: scaleX(-1);
  z-index: -1;
}

.securities .obj-dec:first-of-type {
  top: -340px;
  right: 0;
}

.securities .obj-dec:last-of-type {
  bottom: -3px;
  left: 0;
}

@media (min-width: 992px) {
  .hero-about {
    height: 500px;
  }

  .about-us .content .container-images {
    max-width: unset;
  }

  .about-us .content .container-images .img,
  .about-us .content img {
    width: 350px;
    opacity: 1;
    height: 400px;
  }

  .about-us .content .container-images {
    margin-top: -15px;
    max-width: 420px;
    display: flex;
    align-items: center;
  }

  .about-us .content h2 {
    text-align: left;
  }

  .about-us .content p,
  .text-card,
  .securities ul li {
    font-size: 17px;
    line-height: 1.4;
  }

  .securities .container .row div:nth-of-type(2) .card {
    padding-bottom: 50px;
  }

  .securities ul li {
    margin: 8px 0;
  }
}

/*Footer*/
.footer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #daf7fb;
  z-index: -1;
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .securities .row .col-md-4:nth-of-type(1) .card,
  .securities .row .col-md-4:nth-of-type(3) .card {
    height: 285px;
  }
}

@media (min-width: 1024px) {
  .hero-about h1 {
    font-size: 3em;
  }

  .customers-cards {
    position: relative;
    display: flex;
    width: 100%;
  }

  .about-us .content .container-images {
    margin-top: 0px;
    grid-area: container-images;
  }
  .about-us .content .about-content {
    grid-area: about-content;
  }

  .about-us .content .button-link {
    margin-right: 0 !important;
  }
}

@media (min-width: 1200px) {
  .securities .row .col-md-4:nth-of-type(1) .card,
  .securities .row .col-md-4:nth-of-type(3) .card {
    height: 267px;
  }
}
