/*Customers*/

.container-customers .customer {
  width: 75%;
  max-width: 424px;
  margin: 0 auto;
}

.container-customers .title {
  font-size: 2em;
  margin-bottom: 40px;
}

.container-customers .customer .img-container {
  position: relative;
  display: flex;
  width: max-content;
  background: white;
  border: 5px solid #fff;
  box-shadow: -5px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 25px auto;
}

.container-customers .customer .img-container .img-customer,
.container-customers .customer .img-container {
  border-radius: 0px 130px 0px 0px;
}

.container-customers .customer .img-container .img-customer {
  max-width: 267px;
}

.container-customers .customer .customer-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.55em;
  font-family: "Andada Pro", serif;
  background: var(--color-blue);
  border-radius: 60px;
}

.container-customers .customer .customer-desc {
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.58);
  font-family: "Andada Pro", serif;
  font-size: 0.89em;
  text-align: center;
  padding: 0 12px;
  line-height: 1.2;
}

.container-customers .container-buttons {
  margin: 0 auto;
  border-radius: 60px;
  background: linear-gradient(90deg, #0176bc 0%, #18cce7 100%);
  display: flex;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  width: 169px;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  padding: 0 20px;
}

.container-customers .container-buttons:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 28px;
  left: 0;
  right: 0;
  margin: auto;
  background: white;
}

.container-customers .container-buttons button {
  background: transparent;
  outline: 0;
}

.container-customers .container-buttons button img {
  width: 25px;
  height: 25px;
  object-fit: contain;
  transition: all 0.3s ease;
}

.container-customers .container-buttons button:hover img {
  transform: scale(1.1);
}

.container-customers .customer .video-container{
  position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 0px 130px 0px 0px;
}

.container-customers .customer .video-container .video{
  position: relative;
  border-radius: 0px 130px 0px 0px;
}

.container-customers .customer .video-container video{
    width: 100%;
    max-width: 267px;
    height: 260px;
    object-fit: cover;
    background: white;
    border: 5px solid #fff;
    box-shadow: -5px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0px 130px 0px 0px;
    
}

.container-customers .customer .video-container .video img{
  position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px 130px 0px 0px;
}

.container-customers .customer .video-container .front-video{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #0c0c0c54;
  border-radius: 0px 130px 0px 0px;
  z-index: 3;
  transition: all 0.3s ease;
}

.container-customers .customer .video-container .front-video .bg-button{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #02020242;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  border-radius: 0px 130px 0px 0px;
  transition: all 0.3s ease;
  color: transparent;
}

.container-customers .customer .video-container .front-video .bg-button img{
  display: flex;
  width: 24px;
  height: 24px;
  margin: auto;
}

@media (min-width: 1024px) {
  /*container customer*/
  .carousel-customer {
    max-width: 750px;
    margin: 20px auto;
  }
  .container-customers .container-content {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
  }

  .container-customers .container-list {
    max-width: 750px;
    margin-left: auto;
  }

  .container-customers .obj-dec-2 {
    position: absolute;
    margin: auto;
    left: 40px;
    top: -95px;
  }

  .container-customers .title {
    width: max-content;
    z-index: 2;
    position: absolute;
    left: 77px;
    top: -18px;
    font-size: 2.2em;
  }

  .container-customers .customer {
    margin-top: 50px;
    width: 100%;
    height: 356px;
    max-width: 750px;
    display: grid !important;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: 113px 125px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "customer-name img-container"
      "customer-desc img-container";
  }

  .container-customers .customer .video-container{
    margin: auto;
    margin-top: -40px;
    margin-left: 50px;
  }

  .container-customers .customer .video-container video{
    height: 323px;
    max-width: 267px;
  }

  .container-customers .customer .customer-name {
    max-width: 280px;
  }

  .container-customers .customer-name {
    grid-area: customer-name;
  }

  .container-customers .customer .img-container {
    grid-area: img-container;
    height: 340px;
    margin-right: 0;
  }

  .container-customers .customer .img-container .img-customer {
    height: 330px;
    object-fit: cover;
  }

  .container-customers .customer .customer-desc {
    grid-area: customer-desc;
    text-align: left;
    font-size: 1.15em;
    margin-top: 0px;
    padding: 0;
  }
}

@media(min-width:768px){
  .container-faq .img{
    height: 380px;
  }
}