:root {
  --color-blue: #016dad;
  --color-orange: #ff7a59;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Andada Pro", serif !important;
}

button {
  outline: 0 !important;
  border: none;
  cursor: pointer;
}

h3 {
  margin: 0;
}

p{
  line-height: 1.2;
}

.title {
  color: var(--color-blue);
  font-size: 2.8em;
  text-align: center;
  font-family: "Jost", serif;
  font-weight: 700;
  padding: 0 20px;
  margin: 15px 0;
}

.hero-shop {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 380px;
  background-image: url("../assets/images/shop.jpg");
  background-size: cover;
  background-position: center;
}

.hero-shop::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.61);
  width: 100%;
  height: 100%;
}

.hero-shop h1 {
  font-size: 3em;
  z-index: 1;
  font-family: "Jost", serif;
  color: var(--color-blue);
}

.hero-shop div {
  z-index: 1;
}

.breadcrumb {
  font-size: 1em;
  border-radius: 40px;
  box-shadow: 0px 1px 6px 2px #85858573;
}

.breadcrumb-item a {
  font-weight: 700;
  transition: all 0.3s ease;
}

.product-section {
  padding: 35px 0;
  min-height: 600px;
  background: rgba(24, 204, 231, 0.16);
}

.product-section h2 {
  position: relative;
  z-index: 1;
  font-size: 2.5em;
  font-weight: 700;
  z-index: 1;
  font-family: "Jost", serif;
  color: var(--color-blue);
}

.container-section-products{
  overflow: hidden;
}

/*Sellers section*/

.container-products {
  position: relative;
  margin-bottom: 20px;
  max-width: 1040px;
  margin: auto;
  z-index: 1;
}

.product {
  transform: scale(0.8);
  transition: all 0.3s ease;
}

.product a img {
  display: block;
  object-fit: contain;
  width: 75%;
}

.product,
.product .product-body {
  position: relative;
  display: flex;
  width: auto;
  background: white;
  border-radius: 120px 120px 0px 0px;
  max-width: 190px;
}

.product {
  width: 100%;
  max-width: 209px;
  align-items: center;
  border-radius: 120px 120px 60px 60px;
  background: linear-gradient(0deg, #d1e7f3 0%, #caf3f9 100%);
}

.product .image {
  object-fit: contain;
  width: 100%;
  height: 250px;
  border-radius: 120px 120px 0px 0px;
}

.product h3 {
  width: 100%;
  font-family: "Jost", serif;
  font-size: 1.5em;
}

.product .product-body {
  margin-top: 5px;
  margin-bottom: 5px;
}

.product .price {
  display: flex;
  width: 104px;
  height: 29px;
  color: white;
  justify-content: center;
  border-radius: 0px 50px 50px 0px;
  background: linear-gradient(90deg, #0176bc 0%, #18cce7 100%);
}

.product .circle-link {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.circle-link:hover {
  filter: hue-rotate(36deg);
  transform: scale(1.1);
}

.product .cart-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2px;
  margin-top: -40px;
  margin-bottom: 10px;
}

.product h3 {
  display: flex;
  justify-content: center;
  border-radius: 0px 0px 60px 60px;
  background: var(--color-blue);
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-family: "Jost", serif;
  height: 48px;
}

.product .price {
  font-size: 1.2em;
  padding-right: 20px;
}

.product-section:nth-of-type(2) .obj-dec{
  top: 66px;
    transform: rotate(164deg);
    left: -100px;
}

.product-section:nth-of-type(3) .obj-dec{
  top: -150px;
  right: 0;

}

.product-section:nth-of-type(4) .obj-dec{
  top: 150px;
  left: -184px;
  transform: scaleX(-1) rotate(325deg);
}


.product-section:nth-of-type(5) .obj-dec{
  top: 10px;
  right: 0;
}

.product-section:nth-of-type(6) .obj-dec{
  top: 140px;
  right: -210px;
}

/*Footer*/
.footer::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #daf7fb;
  z-index: -1;
}

@media(min-width:992px){
  .hero-shop{
    height: 500px;
  }
}