:root {
  --color-blue: #016dad;
  --color-orange: #ff7a59;
}

@font-face {
  font-family: "Andada Pro";
  src: url("../assets/fonts/andada_pro/AndadaPro-VariableFont_wght.ttf");
  font-weight: 400, 500, 600, 700, 800;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/jost/Jost-VariableFont_wght.ttf");
  font-weight: 400, 500, 600, 700, 800;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Andada Pro", serif !important;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

.circle-link {
  border-radius: 30px;
  background: linear-gradient(90deg, #0176bc 0%, #18cce7 100%);
  filter: hue-rotate(0deg);
  transition: all 0.3s ease;
}

.circle-link:hover {
  filter: hue-rotate(36deg);
  transform: scale(1.1);
}

/*Hero section*/

.container-hero {
  position: relative;
  height: 720px;
}

.container-hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.61);
  width: 100%;
  height: 100%;
}

.container-hero .row {
  z-index: 1;
}

.container-hero .title {
  margin: auto;
  max-width: 760px;
}

.container-hero .obj-dec {
  position: absolute;
  left: -20px;
  bottom: 0;
  width: 50%;
  max-width: 349px;
  min-width: 200px;
}

.container-hero .obj-dec-2 {
  max-width: 400px;
  position: absolute;
  right: 0;
  top: 140px;
}

.title {
  color: var(--color-blue);
  font-size: 2.8em;
  text-align: center;
  font-family: "Jost", serif;
  font-weight: 700;
  padding: 0 20px;
}

.button-link {
  position: relative;
  display: flex;
  margin: 0 auto;
  font-size: 1.5em;
  height: 46px;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: var(--color-orange);
  color: white;
  width: 65%;
  min-width: 195px;
  margin-top: 50px;
  max-width: 277px;
  font-size: 1.5em;
  text-decoration: none;
  font-weight: 300;
  max-width: 250px;
  transition: background 0.3s ease;
}

.button-link::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: 0;
  bottom: 0;
  width: 105%;
  height: 120%;
  border-radius: 60px;
  border: 1px solid var(--color-orange);
  background: rgba(196, 196, 196, 0);
}

.button-link:hover {
  color: white;
  text-decoration: none;
  background: #cf4c2b;
}

.btn-blue:hover {
  background: #063a58;
}

/*Sellers section*/

.container-sellers {
  position: relative;
  background: rgba(24, 204, 231, 0.16);
  padding: 35px 0;
  overflow: hidden;
}

.container-sellers .container-products {
  position: relative;
  margin-bottom: 20px;
  max-width: 800px;
  margin: auto;
}

.container-sellers .product {
  transform: scale(0.8);
  transition: all 0.3s ease;
}

.container-sellers .product a img {
  display: block;
  object-fit: contain;
  width: 75%;
}

.container-sellers .owl-item.active.center .product {
  transform: scale(1);
  opacity: 1;
}

.container-sellers .title {
  font-size: 2em;
  margin-bottom: 50px;
}

.container-sellers .container-content {
  z-index: 1;
}

.container-sellers .container-products .product,
.container-sellers .container-products .product .product-body {
  position: relative;
  display: flex;
  width: auto;
  background: white;
  border-radius: 120px 120px 0px 0px;
  max-width: 190px;
}

.container-sellers .container-products .product {
  width: 100%;
  max-width: 209px;
  align-items: center;
  border-radius: 120px 120px 60px 60px;
  background: linear-gradient(0deg, #d1e7f3 0%, #caf3f9 100%);
}

.container-sellers .container-products .product .image {
  object-fit: contain;
  width: 100%;
  height: 250px;
  border-radius: 120px 120px 0px 0px;
}

.container-sellers .container-products .product h3 {
  width: 100%;
  font-family: "Jost", serif;
  font-size: 1.5em;
}

.container-sellers .container-products .product .product-body {
  margin-top: 5px;
  margin-bottom: 5px;
}

.container-sellers .obj-dec,
.container-sellers .obj-dec-2,
.container-sellers .obj-dec-3,
.container-sellers .obj-dec-4,
.container-sellers .obj-dec-5 {
  position: absolute;
  top: 0;
}

.container-sellers .obj-dec {
  top: -35px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}

.container-sellers .obj-dec-2 {
  top: 100px;
  z-index: 1;
}

.container-sellers .obj-dec-3 {
  top: unset;
  right: 0;
  bottom: 100px;
  top: unset;
}

.container-sellers .obj-dec-4 {
  top: -250px;
  right: 0;
}

.container-sellers .obj-dec-5 {
  z-index: 0;
  bottom: -150px;
  top: unset;
}

.product .price {
  display: flex;
  width: 104px;
  height: 29px;
  color: white;
  justify-content: center;
  border-radius: 0px 50px 50px 0px;
  background: linear-gradient(90deg, #0176bc 0%, #18cce7 100%);
}

.product .circle-link {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.product .cart-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2px;
  margin-top: -40px;
  margin-bottom: 10px;
}

.product h3 {
  display: flex;
  justify-content: center;
  border-radius: 0px 0px 60px 60px;
  background: var(--color-blue);
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-family: "Jost", serif;
  height: 48px;
}

/*Container about us*/
.container-about-us {
  position: relative;
  padding: 35px 0;
  margin: auto;
}

.container-about-us .container-content {
  position: relative;
  padding: 0 25px;
  max-width: 560px;
  margin: auto;
}

.container-about-us .title {
  color: #fff;
  font-size: 2.2em;
  font-family: "Jost", serif;
  font-weight: 700;
  margin-left: 16px;
}

.container-about-us .images-about-us {
  position: relative;
  display: none;
}

.container-about-us .images-about-us .image:first-of-type {
  top: 170px;
  left: 15px;
}

.container-about-us .images-about-us .image:last-of-type {
  left: 100px;
  z-index: -1;
}

.container-about-us .images-about-us .image {
  position: absolute;
  border-radius: 0px 0px 100px 0px;
  border: 5px solid #fff;
}

.container-about-us .images-about-us img {
  width: 239px;
  border-radius: 0px 0px 100px 0px;
}

.container-about-us .image-content {
  position: relative;
  display: flex;
  max-width: 200px;
  margin: 20px auto;
  z-index: 1;
  border: 5px solid #fff;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  box-shadow: -5px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0px 100px 0px 0px;
}

.bg-circle {
  border-radius: 0px 50px 50px 0px;
  background: linear-gradient(270deg, #18cce7 0%, #18cce7 0.01%, #0176bc 100%);
  color: white;
}

.container-about-us .content p {
  color: rgba(0, 0, 0, 0.52);
  font-size: 0.89em;
  font-family: "Andada Pro", serif;
  margin-top: 40px;
  line-height: 1.2;
}

.container-about-us .logo-bg {
  left: -34px;
  top: -300px;
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute;
  width: 100%;
  object-fit: contain;
  max-width: 435px;
  z-index: -1;
}

.container-about-us .button-link {
  margin-top: 55px;
}

.btn-blue {
  background: var(--color-blue);
}

.btn-blue::after {
  border-color: var(--color-blue);
}

/*Container shop*/

.container-shop {
  position: relative;
  padding-top: 35px;
  background-image: url("../assets/images/bg-category-2.jpg");
  background-size: cover;
  background-position: right;
  padding-bottom: 35px;
  overflow: hidden;
}

.container-shop .container {
  max-width: 780px;
}

.container-shop .container {
  position: relative;
  z-index: 1;
}

.container-shop::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
}

.container-shop .container-content {
  position: relative;
  z-index: 1;
}

.container-shop .title {
  font-size: 2.2em;
  margin-bottom: 30px;
  font-weight: 700;
  font-family: "Jost", serif;
}

.container-shop .image {
  position: relative;
  height: max-content;
  border: 5px solid #fff;
  box-shadow: -5px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container-shop .image h3 {
  position: absolute;
  bottom: 0;
  color: white;
  border-radius: 60px;
  padding: 0 14px;
  font-size: 0.8em;
  margin-bottom: 30px;
  font-weight: 400;
  background: linear-gradient(90deg, #0176bc 0%, #18cce7 100%);
}

.container-shop .text-center {
  box-shadow: -5px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container-shop .image {
  position: relative;
  overflow: hidden;
  max-width: 210px;
}

.container-shop .image img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  transition: all 0.3s ease;
}

.container-shop .image:hover img {
  transform: scale(1.3);
}

.container-shop .image {
  display: flex;
  justify-content: center;
  margin: 15px auto;
}

.container-shop .text-left {
  border: 5px solid #fff;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  box-shadow: -5px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container-shop .text-right {
  border: 5px solid #fff;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  box-shadow: -5px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container-shop .img-1 {
  border-radius: 100px 0px 0px 0px;
}

.container-shop .img-3 {
  border-radius: 0px 100px 0px 0px;
}

.container-shop .img-6 {
  border-radius: 0px 0px 100px 0px;
}

.container-shop .img-4 {
  border-radius: 0px 0px 0px 100px;
}

.container-shop .obj-dec,
.container-shop .obj-dec-2,
.container-shop .obj-dec-3 {
  position: absolute;
  display: flex;
  top: -35px;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 1;
}

.container-shop .obj-dec {
  right: unset;
  top: 100px;
}

.container-shop .obj-dec-2 {
  left: unset;
  top: 185px;
}

/*Container benefits*/
.container-benefits {
  position: relative;
  padding-top: 35px;
  padding-bottom: 35px;
  overflow: hidden;
}

.container-benefits .container-content {
  max-width: 560px;
  margin: auto;
  padding: 0 25px;
  justify-content: space-between;
}

.container-benefits p {
  margin-top: 45px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.89em;
  font-family: "Andada Pro", serif;
}

.container-benefits .container-list {
  margin-top: 20px;
  flex-direction: column;
}

.container-benefits .container-list .benefits {
  margin: 0px auto;
}

.container-benefits .benefits h3 {
  font-size: 1.2em;
}

.container-benefits .container-list .container-benefits .benefits {
  margin: 0 5px;
  margin-top: 15px;
}

.container-benefits .benefits .icon {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  background: linear-gradient(180deg, #0176bc 0%, #18cce7 100%);
}

.container-benefits .benefits h3 {
  color: var(--color-blue);
}

.container-benefits .benefits .icon img {
  object-fit: contain;
  width: 50px;
  height: 50px;
}

.container-benefits .title {
  font-size: 2.2em;
}

.container-benefits .image {
  position: relative;
  display: none;
  border-radius: 0px 0px 130px 0px;
  border: 5px solid #fff;
  box-shadow: -5px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: max-content;
}

.container-benefits .image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0px 0px 130px 0px;
  background: rgba(1, 118, 188, 0.22);
}

.container-benefits .image h3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 20px;
  height: max-content;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  text-shadow: -2px 3px 9px black;
  font-size: 2.2em;
  padding-bottom: 35px;
  font-family: "Andada Pro", serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 1;
}

.container-benefits .image img {
  width: 382px;
  height: 464px;
  border-radius: 0px 0px 130px 0px;
}

.container-benefits .obj-dec {
  position: absolute;
  right: -60px;
  top: -260px;
  z-index: -1;
}

.container-form .button-link {
  margin-top: 40px;
}

/*Container customers*/
.container-customers {
  position: relative;
  padding: 35px 0;
  background: rgba(24, 204, 231, 0.16);
  overflow: hidden;
}

.container-content {
  position: relative;
}

.container-customers .container-content {
  margin-top: 50px;
}

.container-customers .obj-dec {
  position: absolute;
  left: -45px;
  bottom: 0;
}

.container-customers .obj-dec-2 {
  position: absolute;
  margin: auto;
  left: 60px;
  top: -157px;
}

.container-customers .title {
  font-size: 2em;
  margin-bottom: 40px;
}

.container-customers .container-buttons {
  margin: 0 auto;
  border-radius: 60px;
  background: linear-gradient(90deg, #0176bc 0%, #18cce7 100%);
  display: flex;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  width: 169px;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  padding: 0 20px;
}

.container-customers .container-buttons:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 28px;
  left: 0;
  right: 0;
  margin: auto;
  background: white;
}

.container-customers .container-buttons button {
  background: transparent;
  outline: 0;
}

.container-customers .container-buttons button img {
  width: 25px;
  height: 25px;
  object-fit: contain;
  transition: all 0.3s ease;
}

.container-customers .container-buttons button:hover img {
  transform: scale(1.1);
}

/* products form */

.container-form {
  position: relative;
  padding:35px 0;
}

.container-form .title {
  font-size: 2.2em;
  max-width: 630px;
}

.container-form form {
  max-width: 650px;
}

.container-form input {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 60px;
  background: #e2e0e0;
  padding: 0 20px;
  height: 50px;
  border: none;
}

.container-form .obj-dec {
  position: absolute;
  top: 75px;
  right: 0;
}

.container-form .obj-dec-2 {
  position: absolute;
  top: 100px;
  left: 0;
}

@media (min-width: 768px) {
  .container-shop .image {
    justify-content: flex-start;
  }

  .container-shop .text-left h3,
  .container-shop .text-right h3 {
    background: linear-gradient(90deg, #0176bc 0%, #18cce7 100%);
  }

  .container-shop .text-right h3 {
    border-radius: 0px 60px 60px 0px;
  }

  .container-shop .text-left h3 {
    right: 0;
    border-radius: 60px 0px 0px 60px;
  }

  .container-shop .text-center h3 {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: max-content;
    padding: 0 10px;
  }

  .container-shop .text-center h3,
  .container-shop .text-right h3,
  .container-shop .text-left h3{
    font-size: 1.25em;
  }

  .container-benefits .container-list {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .container-hero {
    background-position-y: center;
  }

  .container-hero .title {
    font-size: 3.75em;
  }

  .button-link {
    width: 241px;
    height: 48px;
    font-size: 1.8em;
  }

  .container-sellers .button-link,
  .container-about-us .button-link,
  .container-shop .button-link,
  .container-customers .button-link {
    font-size: 1.2em;
  }

  /*Sellers*/

  .container-sellers .title {
    font-size: 2.2em;
  }

  .container-sellers .product .price {
    font-size: 1.2em;
    padding-right: 20px;
  }

  /*about us*/
  .container-about-us {
    overflow: hidden;
    max-width: unset;
  }

  .container-about-us .image-content {
    display: none;
  }

  .container-about-us .container-content {
    max-width: 1280px;
  }

  .container-about-us .logo-bg {
    left: unset;
    top: 163px;
    bottom: 0;
    right: -100px;
    margin: auto;
    position: absolute;
    width: 100%;
    object-fit: contain;
    max-width: 435px;
    z-index: -1;
  }
  .container-about-us .images-about-us {
    display: flex;
    /*margin-left: 20px;*/
  }

  .container-about-us .content p {
    font-size: 1.12em;
    font-family: "Andada Pro", serif;
    margin-top: 40px;
    max-width: 595px;
  }

  .container-about-us .button-link {
    margin-left: auto;
    margin-right: 15px;
  }

  /*Container benefits*/
  .container-benefits .image {
    width: 33%;
    max-width: 382px;
    display: flex;
  }

  .container-benefits .container-content {
    display: flex;
    flex-direction: row;
    max-width: 1280px;
  }

  .container-benefits .container-content .content {
    max-width: 300px;
  }

  .container-benefits .container-list {
    flex-direction: column-reverse;
  }

  .container-benefits .title {
    margin-top: 5px;
    text-align: left;
    height: 50px;
    display: flex;
    align-items: center;
  }

  .container-benefits .benefits {
    flex-direction: row !important;
    justify-content: space-between !important;
  }

  .container-customers .obj-dec-2 {
    position: absolute;
    margin: auto;
    left: 60px;
    top: -95px;
  }

  .container-customers .title {
    width: max-content;
    z-index: 1;
    position: absolute;
    left: 120px;
    top: -18px;
    font-size: 2.2em;
  }

  /*container form*/

  .container-customers .button-link {
    grid-area: customer-link;
    margin-right: 0;
    margin-top: -107px;
    margin-left: 350px;
    z-index: 100;
  }
}

@media (min-width: 992px) {
  .container-form .form .button-link {
    font-size: 1.12em;
    height: 48px;
    max-width: 241px;
  }

  .container-benefits .container-list {
    height: 370px;
  }

  .container-benefits .benefits:nth-of-type(2) {
    margin-right: 125px;
  }

  .container-benefits .title {
    width: 80%;
  }

  .container-benefits p {
    margin-top: 55px;
    line-height: 1.2;
    font-size: 1em;
    max-width: 320px;
  }

  .container-benefits .image img:last-of-type {
    position: absolute;
    top: 222px;
    left: 75px;
    width: 86%;
    object-fit: contain;
    height: 297px;
  }

  .container-about-us {
    height: 650px;
  }

  .container-about-us .title {
    max-width: 262px;
    text-align: left;
    padding-left: 20px;
  }

  .container-about-us:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 23%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(1, 118, 188, 0.45) 0%,
      rgba(24, 204, 231, 0.45) 100%
    );
    z-index: -2;
  }
}

@media (min-width: 1109px) {
  .container-benefits .benefits h3 {
    font-size: 2.15em;
  }
}

@media (min-width: 1445px) {
  .container-about-us:after {
    width: 30%;
  }
}
